<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Identificacion</h3>
  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :Apellido %><br>
    <%= f.text_field :last_name %>
  </div>
  
  
  <div class="field">
    <%= f.label :Contraseña %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :Confirmacion_de_Contraseña %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </div>
  
  
  
  <h3>Datos personales</h3>
  
  <div class="field">
    <%= f.label :Genero %><br>
    <%= f.select :gender, options_for_select([["Hombre", "male"], ["Mujer", "female"]]) %>
  </div>
  <div class="field">
    <%= f.label :Fecha_de_nacimiento %><br>
    <%= f.date_select :birth_date, start_year: 1900, end_year: Date.today.year, order: [:day, :month, :year], 
        use_month_names: [:enero, :febrero, :marzo, :abril, :mayo, :junio, :julio, :agosto, :septiembre, :octubre, :noviembre, :diciembre] %>
  </div>
  <div class="field">
    <%= f.label :Region %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :Ciudad %><br>
    <%= f.text_field :city %>
  </div>
  
  <% if true%>
    <%# Datos que probablemente se generan automaticamente %>
    <div class="field">
      <%= f.label :recover %><br>
      <%= f.text_field :recover_digest %>
    </div>
    <div class="field">
      <%= f.label :nivel_acceso %><br>
      <%= f.text_field :nivel_acceso %>
    </div>
    <div class="field">
      <%= f.label :user_token %><br>
      <%= f.text_field :user_token %>
    </div>
    <%# Fin de comentario %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
