
<p>
  <strong>Texto:</strong>
  <%= @comment.texto %>
</p>

<p>
  <strong>Appproved:</strong>
  <%= @comment.appproved %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Proposal:</strong>
  <%= @comment.proposal %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
