<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <title>Constituapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <% if current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'statistics', statistics_path %></li>
            <li><%= link_to 'proposals', proposals_path %></li>
            <li><%= link_to 'users', users_path %></li>
          </ul>
          <p>Logged in as <%= link_to current_user.email, current_user %>, <%= link_to 'logout', logout_path %></p>
          <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'register', signup_path %></li>
            <li><%= link_to 'login', login_path %></li>
          </ul>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
<p id="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
