
<h1>Listing Approves</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Proposal</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @approves.each do |approfe| %>
      <tr>
        <td><%= approfe.user %></td>
        <td><%= approfe.proposal %></td>
        <td><%= approfe.score %></td>
        <td><%= link_to 'Show', approfe %></td>
        <td><%= link_to 'Edit', edit_approfe_path(approfe) %></td>
        <td><%= link_to 'Destroy', approfe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Approve', new_approfe_path %>
