<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @approfe.user %>
</p>

<p>
  <strong>Proposal:</strong>
  <%= @approfe.proposal %>
</p>

<p>
  <strong>Score:</strong>
  <%= @approfe.score %>
</p>

<%= link_to 'Edit', edit_approfe_path(@approfe) %> |
<%= link_to 'Back', approves_path %>
