<%= form_for([@proplike.proposal, @proplike]) do |f| %>
  <% if @proplike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proplike.errors.count, "error") %> prohibited this proplike from being saved:</h2>

      <ul>
      <% @proplike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
