<p id="notice"><%= notice %></p>

<h1>Listing Proplikes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proplikes.each do |proplike| %>
      <tr>
        <td><%= proplike.user.id %></td>
        <td><%= proplike.score %></td>
        <td><%= link_to 'Show', [proplike.proposal, proplike] %></td>
        <td><%= link_to 'Edit', edit_proposal_proplike_path(proplike.proposal, proplike) %></td>
        <td><%= link_to 'Destroy', [proplike.proposal, proplike], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proplike', new_proposal_proplike_path(@proposal) %>
