<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @proplike.user.id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @proplike.score %>
</p>

<%= link_to 'Edit', edit_proposal_proplike_path(@proplike.proposal, @proplike) %> |
<%= link_to 'Back', proposal_proplikes_path(@proposal) %>
