<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="content-box">
    <div class="field">
      <%= f.label :Titulo, :class => 'login-label' %>
      <%= f.text_field :titulo, :class => 'input-field' %>
    </div>
    <div class="field">
      <%= f.label :texto, :class => 'login-label' %>
      <%= f.text_area :texto, :class => 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
