<p>
  <strong>Titulo:</strong>
  <%= @proposal.titulo %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @proposal.texto %>
</p>

<p>
  <strong>User:</strong>
  <%= @proposal.user.email %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @proposal.upvotes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @proposal.downvotes %>
</p>

<h3>Top Comments</h3>
<table class="table">
  <thead>
    <tr>
      <th>Texto</th>
      <th>User</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th>Score</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @top_comments.each do |comment| %>
      <tr>
        <td><%= comment.texto %></td>
        <td><%= comment.user.email %></td>
        <td><%= comment.upvotes %></td>
        <td><%= comment.downvotes %></td>
        <td><%= comment.score %></td>
        <td><%= link_to 'Show', [comment.proposal, comment] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Likes', proposal_proplikes_path(@proposal) %>
<%= link_to 'Comments', proposal_comments_path(@proposal) %>
<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
