<div class="container-fluid">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="well">
      <p>
        <strong>Titulo:</strong>
        <%= @proposal.titulo %>
      </p>

      <p>
        <strong>Texto:</strong>
        <%= @proposal.texto %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @proposal.user.email %>
      </p>

      <p>
        <strong>Likes:</strong>
        <%= @proposal.upvotes %>
      </p>

      <p>
        <strong>Dislikes:</strong>
        <%= @proposal.downvotes %>
      </p>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="content-box">
  <h3>Comentarios más votados</h3>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-4">Texto</th>
        <th class="col-md-3">User</th>
        <th class="col-md-1">Likes</th>
        <th class="col-md-1">Dislikes</th>
        <th class="col-md-1">Score</th>
        <th class="col-md-2"></th>
      </tr>
    </thead>

    <tbody>
      <% @top_comments.each do |comment| %>
      <tr>
        <td class="col-md-6"><%= comment.texto %></td>
        <td class="col-md-3"><%= comment.user.email %></td>
        <td class="col-md-1"><%= comment.upvotes %></td>
        <td class="col-md-1"><%= comment.downvotes %></td>
        <td class="col-md-1"><%= comment.score %></td>
        <td class="col-md-2"><%= link_to 'Show', [comment.proposal, comment] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<center>
  <%= link_to 'Likes', proposal_proplikes_path(@proposal) :class => 'btn btn-primary' %>
  <%= link_to 'Comments', proposal_comments_path(@proposal) :class => 'btn btn-primary' %>
  <%= link_to 'Edit', edit_proposal_path(@proposal) :class => 'btn btn-primary' %>
  <%= link_to 'Back', proposals_path :class => 'btn btn-default' %>
</center>
