<h1>Estadísticas</h1>

<h4>Propuestas más votadas</h4>
<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @top_proposals.each do |proposal| %>
      <tr>
        <td><%= link_to proposal.titulo, proposal %></td>
        <td><%= proposal.upvotes %></td>
        <td><%= proposal.downvotes %></td>
        <td><%= proposal.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Propuestas con mayor aceptación</h4>
<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @most_liked_proposals.each do |proposal| %>
      <tr>
        <td><%= link_to proposal.titulo, proposal %></td>
        <td><%= proposal.upvotes %></td>
        <td><%= proposal.downvotes %></td>
        <td><%= proposal.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Propuestas con mayor rechazo</h4>
<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @most_disliked_proposals.each do |proposal| %>
      <tr>
        <td><%= link_to proposal.titulo, proposal %></td>
        <td><%= proposal.upvotes %></td>
        <td><%= proposal.downvotes %></td>
        <td><%= proposal.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
