<center>
  <h1>Estadísticas</h1>
</center>
<div class="content-box">
  <center>
    <h4>Propuestas más votadas</h4>
  </center>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-6">Titulo</th>
        <th class="col-md-2">Likes</th>
        <th class="col-md-2">Dislikes</th>
        <th class="col-md-2">Score</th>
      </tr>
    </thead>

    <tbody>
      <% @top_proposals.each do |proposal| %>
      <tr>
        <td class="col-md-6"><%= link_to proposal.titulo, proposal %></td>
        <td class="col-md-2"><%= proposal.upvotes %></td>
        <td class="col-md-2"><%= proposal.downvotes %></td>
        <td class="col-md-2"><%= proposal.score %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="content-box">
  <center>
    <h4>Propuestas con mayor aceptación</h4>
  </center>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-6">Titulo</th>
        <th class="col-md-2">Likes</th>
        <th class="col-md-2">Dislikes</th>
        <th class="col-md-2">Score</th>
      </tr>
    </thead>

    <tbody>
      <% @most_liked_proposals.each do |proposal| %>
      <tr>
        <td class="col-md-6"><%= link_to proposal.titulo, proposal %></td>
        <td class="col-md-2"><%= proposal.upvotes %></td>
        <td class="col-md-2"><%= proposal.downvotes %></td>
        <td class="col-md-2"><%= proposal.score %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="content-box">
  <center>
    <h4>Propuestas con mayor rechazo</h4>
  </center>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-6">Titulo</th>
        <th class="col-md-2">Likes</th>
        <th class="col-md-2">Dislikes</th>
        <th class="col-md-2">Score</th>
      </tr>
    </thead>

    <tbody>
      <% @most_disliked_proposals.each do |proposal| %>
      <tr>
        <td class="col-md-6"><%= link_to proposal.titulo, proposal %></td>
        <td class="col-md-2"><%= proposal.upvotes %></td>
        <td class="col-md-2"><%= proposal.downvotes %></td>
        <td class="col-md-2"><%= proposal.score %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>